.widget-container {
  display: inline-flex;
  .widget {
    width: 275px;
    height: 125px;
    background-color: #fff;
    color: #fff;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 5px 5px 5px #939393;
    display: flex;
    align-items: center;
    padding: 20px;
    &.green {
      background-color: rgb(4, 67, 66);
    }
    &.yellow {
      background-color: rgb(237, 158, 32);
    }
    &.red {
      background-color: rgb(126, 5, 5);
    }
    &.blue {
      background-color: rgb(105, 32, 251);
    }

    .icon {
      width: 50px;
      font-size: 40px;
      text-align: center;
    }
    .value {
      text-align: center;
      width: 125px;
      .top {
        font-size: 20px;
      }
      .bottom {
        font-size: 15px;
        margin-top: 10px;
      }
      .data {
        margin-top: 10px;
      }
    }
    transition: all 0.3s ease;
  }
  .collapsed {
    /* Stili del widget quando è aperto */
    width: 275px;
    height: 225px;
    /* Altri stili del widget quando è aperto */
  }
}