.widget-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.widget {
  width: 275px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 5px 5px 5px #939393;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  transition: all 0.3s ease;
}

.widget.green {
  background-color: rgb(4, 67, 66);
  color: #fff;
}

.widget .icon {
  width: 50px;
  height: 50px;
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}

.widget .value {
  text-align: center;
  width: 100%;
}

.widget .value .top {
  font-size: 20px;
  font-weight: bold;
}

.widget .value .bottom {
  font-size: 15px;
  margin-top: 5px;
}

.widget .data {
  margin-top: 10px;
}

.icon-small {
  width: 20px;
  height: 20px;
  filter: invert(1);
  margin-right: 5px;
}

.accordion-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
}
