h1 {
  text-align: center;
  margin-bottom: 20px;
}

.user {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.user-indicator {
  display: inline-block;
  position: relative;
  color: #4caf50;
  //color: cornflowerblue;
}

#usericon {
  transform: translate(-134%, -10%);
}

.user.active .user-indicator {
  color: #4caf50;
}

.user p {
  margin: 0;
}

.message {
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-start;
}

.mine {
  justify-content: flex-end;
}

.message-box {
  padding: 5px;
  border-radius: 5px;
  //background-color: #6a11cb;
  //background-color: cornflowerblue;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.mine .message-box {
  //background-color: #c5e8f4;
  background-color: #ffffff;
}

.message-box p {
  margin: 0;
}

.send-message {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  //border-top: 1px solid #e6e6e6;
}

mat-form-field {
  flex: 1;
  margin-right: 10px;
}

button {
  white-space: nowrap;
}

#chat .form-control {
  border-color: transparent;
}

#chat .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

/* Customized scroll bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #73acc5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b5e3ff;
}