.body {
  margin-left: 5rem;
  transition: all .5s ease;
  background: #f4f7fa;
  padding: 3rem;
}

.body-trimmed {
  width: calc(100% - 16.5625rem);
  margin-left: 16.5625rem;
}

.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

.body {
  display: flex;
  flex-direction: column;
}

.middle-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; // Spazio tra le righe
  margin-top: 20px; // Spazio tra le righe
}

.widget {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #939393;
  flex: 1;
  margin: 0 10px; // Spazio tra i widget
}

.left, .right {
  flex-basis: 48%; // Assicura che due widget occupino lo spazio di una riga
}

@media screen and (max-width: 768px) {
  .middle-section {
    flex-direction: column;
  }

  .left, .right {
    flex-basis: 100%;
    margin: 10px 0;
  }
}

// Stili per il toast personalizzato
.toast-custom {
  background-color: #007bff;  // Colore di sfondo del toast
  color: #ffffff;  // Colore del testo
  border-color: #0056b3;  // Colore del bordo (opzionale)
}

.close-custom {
  color: #ffffff;  // Colore della "x" per chiudere il toast
}

.body-toast {
  padding: 10px;  // Padding del corpo del toast
}


