<section id="chat" [ngClass]="getBodyClass()">
    <mat-card class="users-list-card">
        <mat-card-header>
            <h2 style="color: #363a3b">Active Users List</h2>
        </mat-card-header>

        <mat-divider style="border: 0.5px lightgrey solid"></mat-divider>

        <mat-card-content>
            <div class="scrollable-user-list">
                <mat-card-actions align="start">
                    <ul class="users-list" >
                        <li *ngFor="let user of socketService.filteredUserList()">
                            <button class="user-btn" type="button" (click)="socketService.sendHistoryRequest(user)" style="margin-top: 9px; margin-bottom: 5px;">
                                <div class="user-container">
                                    <div class="user-indicator">
                                        <img id="userimage" *ngIf="socketService.getEmployeeImage(user) != 'admin'; else icon" [src]="socketService.getEmployeeImage(user)" alt="">
                                        <ng-template #icon>
                                            <a id="usericon" class="fal fa-user"></a>
                                        </ng-template>
                                    </div>
                                    <p class="username" *ngIf="socketService.getEmployeeImage(user) != 'admin'; else adminTag">
                                        {{ user }}
                                    </p>
                                    <ng-template #adminTag>
                                        <p class="username"> {{ user }} (admin) </p>
                                    </ng-template>
                                </div>
                            </button>
                            <mat-divider></mat-divider>
                        </li>
                    </ul>
                </mat-card-actions>
            </div>
        </mat-card-content>
        <mat-card-footer class="broadcast-footer">
            <mat-card-actions class="broadcast-footer-actions">
                <button class="broadcast-button" (click)="socketService.sendBroadcastHistoryRequest()" mat-button data-mdb-ripple-init>
                    Broadcast Chat
                </button>
            </mat-card-actions>
        </mat-card-footer>
    </mat-card>

    <br>

    <mat-card class="chat-card">
        <mat-card-header class="header-chat-card">
            <div *ngIf="socketService.receiver != ''; else elseBlock" class="receiver-container">
                <div class="user-indicator" style="color: #4caf50; margin-bottom: 6px;">
                    <img id="user-employee-image" *ngIf="socketService.getEmployeeImage(socketService.receiver) != 'admin'; else icon" [src]="socketService.getEmployeeImage(socketService.receiver)"
                         alt="" class="rounded-circle"/>
                    <ng-template #icon>
                        <div id="user-admin-icon" class="fas fa-a"></div>
                    </ng-template>
                </div>
                <p class="username-receiver" style="color: grey; margin-left: 15px;">{{ socketService.receiver }}</p>
            </div>
            <ng-template #elseBlock>
                <div class="broadcast-container">
                    <h2 class="header-chat-title" style="color: #363a3b;">Broadcast Chat</h2>
                    <div class="user-active-infos">
                        <p class="actual-username" style="color: #363a3b;">{{ socketService.activeUser }}</p>
                        <div class="user-indicator">
                            <img id="active-user-image" *ngIf="socketService.getEmployeeImage(socketService.activeUser) != 'admin'; else icon" [src]="socketService.getEmployeeImage(socketService.activeUser)"
                                 alt="" class="rounded-circle"/>
                            <ng-template #icon>
                                <div id="active-user-icon" class="fal fa-user"></div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </ng-template>
        </mat-card-header>

        <mat-divider style="border: 1px lightgrey solid;"></mat-divider>

        <div class="message-card-content" *ngIf="socketService.receiver == ''; else elseBlock2" #chatMessages>
            <mat-card-content>
                <div class="message" *ngFor="let msg of socketService.messageList" [ngClass]="{'mine': msg.userName == socketService.activeUser}">
                    <i *ngIf="msg.userName != socketService.activeUser" class="fas fa-user fa-2x rounded-circle" [style.color]="msg.color"></i>
                    <div class="message-box">

                        <mat-card>
                            <div *ngIf="msg.userName == socketService.activeUser" style="min-width: 30px; max-width: 500px; min-height: 25px; white-space: normal; word-wrap: break-word;">
                                <mat-card-content>
                                    <p class="content" style="font-size: small;">{{ msg.message }}</p>
                                </mat-card-content>
                            </div>
                        </mat-card>

                        <mat-card>
                            <div *ngIf="msg.userName != socketService.activeUser" style="min-width: 30px; max-width: 500px; min-height: 25px; white-space: normal; word-wrap: break-word;">
                                <mat-card-title>
                                    <p class="name text-break text-capitalize" style="font-size: medium" [style.color]="msg.color">{{ msg.userName }}</p>
                                </mat-card-title>
                                <mat-card-content>
                                    <p class="content" style="font-size: small; margin-top: -25px;">{{ msg.message }}</p>
                                </mat-card-content>
                            </div>
                        </mat-card>

                    </div>
                    <i *ngIf="msg.userName == socketService.activeUser" class="fas fa-user fa-2x rounded-circle d-flex align-self-start ms-3" style="color: #4caf50"></i>
                </div>
            </mat-card-content>
        </div>

        <ng-template #elseBlock2>
            <mat-card-content>
                <div style="position: relative; height: 60vh; overflow-y: scroll;" #chatMessages>

                    <div class="message" *ngFor="let msg of socketService.messageRooms.get(socketService.getRoomId())" [ngClass]="{'mine': msg.userName == socketService.activeUser}">
                        <i *ngIf="msg.userName != socketService.activeUser" class="fas fa-user fa-2x rounded-circle" [style.color]="msg.color"></i>
                        <div class="message-box d-flex justify-content-between text-break">

                            <mat-card>
                                <div *ngIf="msg.userName == socketService.activeUser" style="min-width: 30px; max-width: 500px; min-height: 25px; white-space: normal; word-wrap: break-word;">
                                    <mat-card-content>
                                        <p class="content" style="font-size: small;">{{ msg.message }}</p>
                                    </mat-card-content>
                                </div>
                            </mat-card>

                            <mat-card>
                                <div *ngIf="msg.userName != socketService.activeUser" style="min-width: 30px; max-width: 500px; min-height: 25px; white-space: normal; word-wrap: break-word;">
                                    <mat-card-title>
                                        <p class="name text-break text-capitalize" style="font-size: medium" [style.color]="msg.color">{{ msg.userName }}</p>
                                    </mat-card-title>
                                    <mat-card-content>
                                        <p class="content" style="font-size: small; margin-top: -25px;">{{ msg.message }}</p>
                                    </mat-card-content>
                                </div>
                            </mat-card>

                        </div>
                        <i *ngIf="msg.userName == socketService.activeUser" class="fas fa-user fa-2x rounded-circle d-flex align-self-start ms-3" style="color: #4caf50"></i>
                    </div>
                </div>
            </mat-card-content>
        </ng-template>

        <div class="send-footer-component">
            <div *ngIf="socketService.receiver == ''; else elseBlock1" class="send-message">
                <div class="form-control">
                    <textarea class="input-area" placeholder="Type a message"
                           [(ngModel)]="socketService.message" (keyup.enter)="socketService.sendMessage()"></textarea>
                </div>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="send-button" type="button" (click)="socketService.sendMessage()" mat-button>
                        <i class="fas fa-paper-plane"></i>
                    </button>
                </mat-card-actions>
            </div>
            <ng-template #elseBlock1>
                <div class="send-message">
                    <mat-form-field appearance="outline" class="form-control" style="resize: none;">
                        <mat-label>Message</mat-label>
                        <input #messageInput maxlength="256" placeholder="Type a message"
                               [(ngModel)]="socketService.message" (keyup.enter)="socketService.sendRoomMessage()" matInput>
                        <mat-hint align="end">{{messageInput.value.length}} / 256</mat-hint>
                    </mat-form-field>
                    <mat-card-actions>
                        <button mat-raised-button color="primary" class="send-button" type="button" (click)="socketService.sendRoomMessage()" mat-button>
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </mat-card-actions>
                </div>
            </ng-template>
        </div>
    </mat-card>
</section>