.users-list-card {
  flex: 0 0 25%; // Imposta la larghezza della card (25% del contenitore)
  max-width: 25%; // Garantisce che la card non cresca oltre il 25%
  background: #f4f8f9;
  border-right: 0.5px lightgray solid;
}

.chat-card {
  flex: 1; // La card occuperà il resto dello spazio disponibile
  max-width: 75%; // Garantisce che la card non cresca oltre il 75%
  border-right: 1px solid lightgrey;
}

#chat {
  width: calc(100% - 5rem);
  height: 100vh;
  margin-left: 5rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all .5s ease;
  background: #ffffff;
  padding: 3rem;

  display: flex;
  justify-content: space-between; // Distribuisce lo spazio tra gli elementi
  gap: 0.05rem; // Aggiunge uno spazio tra le card

  .scrollable-user-list {
    height: calc(100vh - 12.5rem);
    overflow-y: auto;
  }
}

.body-trimmed {
  width: calc(100% - 16.5625rem);
  margin-left: 16.5625rem;
}

.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

@media (max-width: 412px) { // Layout affiancato per tablet e dispositivi più grandi
  #chat {
    flex-direction: row; // Disposizione orizzontale
    gap: 1rem; // Spazio tra le card
  }

  .users-list-card,
  .chat-card {
    flex: 1;
  }
}

.users-list {
  width: 100%;
}

.user-btn {
  display: list-item;
  width: 100%;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }
}

#usericon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Assicurati che sia uguale a .user-indicator */
  height: 40px; /* Assicurati che sia uguale a .user-indicator */
  font-size: 1.8rem; /* Dimensione del font per l'icona, puoi modificarlo se necessario */
  box-sizing: border-box;
  flex-shrink: 0;
}

.user-container {
  width: 100%;
  display: flex;
  align-items: center; // vertically align items in the center
  gap: 10px; // space between the elements, adjust as needed

  &:last-child {
    margin-bottom: 0; // Rimuove il margine inferiore dall'ultimo elemento
  }

  .user-indicator {
    position: relative;
    align-items: center; // vertically align image/icon in the center
    display: flex;
    width: 40px; // Adjust the width as per your requirement
    height: 40px; // Adjust the height as per your requirement
    justify-content: center;
    flex-shrink: 0;
    color: #4caf50;

    img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 50%;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 2px solid #4caf50; // You can change the color here
      box-sizing: border-box;
    }
  }

  .username {
    margin: 0; // remove default margin
    color: #363a3b;
  }
}

.broadcast-footer {
  .broadcast-footer-actions {
    width: 100%;
    padding: 0;

    .broadcast-button {
      width: 100%;
      background: #1B365C;
      color: #F4F8F9 !important;

      padding: 0.5rem;
      box-sizing: border-box;

      margin: 0;
    }
  }
}

button {
  text-transform: capitalize;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.message-card-content {
  background: #f0f0f0;
  height: calc(100% - 9rem);
  position: relative;
  overflow: auto;
}

.else-message-card-component {
  background: #f0f0f0;
  height: calc(100% - 9rem);
  position: relative;
  overflow: auto;
}

.message {
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-start;
}

.mine {
  justify-content: flex-end;
  background-color: #f0f0f0;
}

.message-box {
  display: flex;
  justify-content: space-between;

  padding: 5px;
  border-radius: 5px;
  //background-color: #6a11cb;
  //background-color: cornflowerblue;
  white-space: pre-wrap;
  word-wrap: break-word;
  gap: 0.3rem;
}

.mine .message-box {
  //background-color: #c5e8f4;
  background-color: #f0f0f0;
  color: black;
}

.message-box p {
  margin: 0;
}

.send-message {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  max-width: 100%;
  //border-top: 1px solid #e6e6e6;
}

button {
  white-space: nowrap;
}

.receiver-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%; /* Ensure it uses full width */

  .user-indicator {
    position: relative;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    justify-content: center;
    flex-shrink: 0;

    img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 50%;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px; /* Assicurati che sia uguale a .user-indicator */
      height: 40px; /* Assicurati che sia uguale a .user-indicator */
      font-size: 1.8rem; /* Dimensione del font per l'icona, puoi modificarlo se necessario */
      box-sizing: border-box;
      flex-shrink: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 2px solid #4caf50;
      box-sizing: border-box;
    }
  }

  .username-receiver {
    color: #363a3b;
    margin-left: 15px;
    font-size: 15px;
    font-weight: 500;
    line-height: 32px;
    font-family: Roboto, sans-serif;
  }
}

// chat header style rules

.header-chat-card {
  background: #f4f8f9;
  min-height: 64px;

  .broadcast-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%; /* Ensure it uses full width */

    .header-chat-title {
      color: #8690a3;
      flex-shrink: 0; /* Prevents shrinking */
    }

    .user-active-infos {
      display: flex;
      align-items: center;
      flex-shrink: 0; /* Prevents shrinking */

      .actual-username {
        color: #8690a3;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 0.9rem;
        margin-right: 0.7rem;
        text-transform: capitalize;
        font-weight: bold;
      }

      .user-indicator {
        position: relative;
        display: flex;
        align-items: center;
        width: 40px;
        height: 40px;
        justify-content: center;
        flex-shrink: 0;

        img {
          display: block;
          width: 100%;
          height: auto;
          border-radius: 50%;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px; /* Assicurati che sia uguale a .user-indicator */
          height: 40px; /* Assicurati che sia uguale a .user-indicator */
          font-size: 1.8rem; /* Dimensione del font per l'icona, puoi modificarlo se necessario */
          box-sizing: border-box;
          flex-shrink: 0;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 2px solid #4caf50;
          box-sizing: border-box;
        }
      }
    }
  }
}

// end header

// setting footer rule styles

.send-footer-component {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: #f0f0f0;

  .send-message {
    outline: auto;
    outline-color: lightgray;
    display: flex;
    align-items: center;
    width: calc(100% - 2rem);
    margin: 0px 15px 20px;
    border-radius: 20px;
    background-color: #f4f8f9;
  }

  .form-control {
    flex-grow: 1;
    margin-right: 10px; /* Add some space between the input and the button */
    height: 2rem;
  }

  .send-button {
    display: flex;
    justify-content: center;
  }
}

// end footer

*.content {
  font-size: 15px;
  line-height: 20px;
  font-family: Roboto, sans-serif;
}

p.name {
  padding-left: 0.85rem;
  padding-right: 0.5rem;
  text-transform: capitalize;
}

.input-area {
  width: 100%;
  height: 2.25rem;
  border-color: transparent;
  outline-color: transparent;
  white-space: normal;  /* Permette il word wrapping */
  word-wrap: break-word;  /* Fa sì che le parole lunghe vadano a capo */
  background-color: transparent;
  box-sizing: border-box;
  resize: none;
  font-size: 15px;
  line-height: 20px;
  font-family: Roboto, sans-serif;
}

textarea:focus-visible {
  outline: -webkit-focus-ring-color auto 0px !important;
}

.form-control {
  border-color: transparent;
}

.form-control:focus {
  border-color: transparent !important;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

/* Customized scroll bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #73acc5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b5e3ff;
}