.body {
  width: calc(100% - 5rem);
  height: 100vh;
  margin-left: 5rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all .5s ease;
  background: #f4f7fa;
  padding: 3rem;
}

.body-trimmed {
  width: calc(100% - 16.5625rem);
  margin-left: 16.5625rem;
}

.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

.mat-mdc-table {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

.mat-column-name {
  height: 100px;
}

.page-title {
  text-align: center;
  color: #363a3b;
}

.button-container {
  display: inline-flex;
  justify-content: center;
  gap: 0.5rem;
}

.add-new-employee-btn {
  margin-top: 1rem;
  background-color: #343dff !important;
  color: #fff !important;
}

/* Customized scroll bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #73acc5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b5e3ff;
}